<div id="combotreeContain" (click)="onMouseclick($event)"
     class="ui-dropdown ui-widget ui-state-default ui-corner-all ui-helper-clearfix ui-dropdown-open">
  <!--选择后数据-->

  <input class="ui-inputtext" pInputText [(ngModel)]="selectedNames">

  <!--下拉操作-->
  <div class="ui-dropdown-trigger ui-corner-right">
    <span class="fa fa-caret-down"></span>
  </div>

  <!--下拉面板-->
  <div *ngIf="panelVisible" style="z-index: 9" class="ui-dropdown-panel ui-widget-content ui-corner-all ui-shadow">
    <div class="ui-dropdown-items-wrapper">
      <p-tree selectionMode="checkbox"
              [(value)]="value"
              [(selection)]="selection"
              (onNodeSelect)="nodeSelect($event)"></p-tree>
    </div>
  </div>
</div>

