<div class="ui-g-3 max-height-panel">
  <p-panel header="组织机构树">
    <input pInputText type="text" placeholder="组织机构名称" size="14" [(ngModel)]="queryWord"/>
    <button pButton type="button" icon="fa-search"
            (click)="queryNode()"></button>
    <div appAutoPanelHeight="max-height-panel">
      <p-tree [value]="tree" selectionMode="single"
              [(selection)]="selectedNode"
              (onNodeSelect)="nodeSelect($event)">
      </p-tree>
    </div>
  </p-panel>
</div>

<div class="ui-g-9">
  <router-outlet></router-outlet>
</div>
