<div class="ui-g-9 content" style="top: 0">
  <eve-top-bar title="操作信息" (execute)="doExecute($event)" [display]="!reForm.form.valid"></eve-top-bar>
</div>
<div class="ui-g-9 content" style="top: 45px">
  <div class="detail-layout">
    <form #reForm="ngForm">
      <div class="ui-g-12 ui-g-nopad control-group">
        <h3 class="legend">系统资源信息</h3>
      </div>
      <div class="ui-g-12 ui-g-nopad control-group">
        <div class="ui-g-6">
          <label class="required control-label">资源名称:</label>
          <input pInputText [(ngModel)]="detailData.label" name="label" #label="ngModel" required>
          <span class="validation" *ngIf="label.errors?.required">该项必填</span>
        </div>
        <div class="ui-g-6">
          <label class="required control-label">资源编码:</label>
          <input pInputText [(ngModel)]="detailData.name" name="name" #name="ngModel" required>
          <span class="validation" *ngIf="name.errors?.required">该项必填</span>
        </div>
      </div>
      <div class="ui-g-12 ui-g-nopad control-group">
        <div class="ui-g-6">
          <label class="control-label">资源URL:</label>
          <input pInputText [(ngModel)]="detailData.resUrl" [ngModelOptions]="{standalone:true}">
        </div>
        <div class="ui-g-6">
          <label class="control-label">资源图片路径:</label>
          <input pInputText [(ngModel)]="detailData.iconPath" [ngModelOptions]="{standalone:true}">
        </div>
      </div>
      <div class="ui-g-12 ui-g-nopad control-group">
        <div class="ui-g-6">
          <label class="required control-label">资源类型:</label>
          <p-radioButton name="optType" value="1" label="菜单"
                         [(ngModel)]="detailData.optType"></p-radioButton>
          &nbsp;
          <p-radioButton name="optType" value="2" label="按钮"
                         [(ngModel)]="detailData.optType"></p-radioButton>
        </div>
        <div class="ui-g-6">
          <label class="control-label">状态:</label>
          <p-radioButton name="enbled" value="1" label="正常"
                         [(ngModel)]="detailData.enabled"></p-radioButton>
          &nbsp;
          <p-radioButton name="enbled" value="0" label="冻结"
                         [(ngModel)]="detailData.enabled"></p-radioButton>
        </div>
      </div>
    </form>
  </div>
</div>
