<p-tabView>

  <p-tabPanel header="用户角度">
    <div class="ui-g">
      <div class="ui-g-4">
        <p-panel header="网格信息">
          <p-tree [value]="tree"></p-tree>
        </p-panel>
      </div>
      <div class="ui-g-8">
        <p-dataTable [value]="viewData" selectionMode="multiple">
          <p-column header="序号" [style]="{'width':'60px'}">
            <ng-template let-ri="rowIndex" pTemplate="body">
              <span>{{index[ri]}}</span>
            </ng-template>
          </p-column>
          <p-column selectionMode="multiple" [style]="{'width':'38px'} "></p-column>
          <p-column field="loginName" header="账号"></p-column>
          <p-column field="name" header="用户姓名"></p-column>
          <p-column header="机构"></p-column>
          <p-column header="操作">
            <ng-template let-role="rowData" pTemplate="body">
              <button type="button" pButton label="关联网格" icon="fa-edit"></button>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
    </div>
  </p-tabPanel>

  <p-tabPanel header="网格角度">
    <div class="ui-g">
      <p-treeTable [value]="tree">
        <p-header>Basic</p-header>
        <p-column field="label" header="网格名称"></p-column>
        <p-column field="code" header="网格编码"></p-column>
        <p-column field="dutyPhone" header="值班电话"></p-column>
        <p-column field="descripiton" header="描述"></p-column>
        <p-column header="操作">
          <ng-template let-node="rowData" pTemplate="body">
            <button type="button" pButton label="关联用户" icon="fa-edit"></button>
          </ng-template>
        </p-column>
      </p-treeTable>
    </div>
  </p-tabPanel>

</p-tabView>
