<p-tabView>

  <p-tabPanel header="用户角度">
    <div class="ui-g">
      <div class="ui-g-4">
        <p-panel header="网格信息">
          <p-tree [value]="filesTree"></p-tree>
        </p-panel>
      </div>
      <div class="ui-g-8">
        <p-dataTable selectionMode="multiple" >
          <p-column field="loginName" header="账号"></p-column>
          <p-column field="name" header="用户姓名" ></p-column>
          <p-column field="mobile" header="手机号码" [style]="{'width':'14%'}"></p-column>
          <p-column header="机构"></p-column>
          <p-column header="操作"></p-column>
        </p-dataTable>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="网格角度">
    <div class="ui-g">
      <p-treeTable [value]="gridTree">
        <p-header>Basic</p-header>
        <p-column field="name" header="网格名称"></p-column>
        <p-column field="size" header="网格编码"></p-column>
        <p-column field="type" header="值班电话"></p-column>
        <p-column header="描述"></p-column>
        <p-column header="操作"></p-column>
      </p-treeTable>
    </div>
  </p-tabPanel>
</p-tabView>
