<div class="ui-g-3 max-height-panel">
  <p-panel header="系统资源树">
    <p-dropdown [style]="{'width':'100%'}" [(ngModel)]="selectedApp"
                [options]="applications"
                (onChange)="selectChange()">
    </p-dropdown>
    <div treeAutoHeight="max-height-panel">
      <p-tree [value]="tree" selectionMode="single" [(selection)]="selectedNode"
              (onNodeSelect)="nodeSelect($event)">
      </p-tree>
    </div>
  </p-panel>
</div>

<div class="ui-g-9">
  <router-outlet></router-outlet>
</div>
