<p-dialog header="应用信息" width="1000" dialogHeight="350" [responsive]="true" [(visible)]="display">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="detail-layout">
        <form #reForm="ngForm">

          <div class="ui-g-12 ui-g-nopad control-group" *ngIf="clientInfoDisplay">
            <div class="ui-g-6">
              <label class="control-label">Client Id:</label>
              <span>{{detailData.clientId}}</span>
            </div>
            <div class="ui-g-6">
              <label class="control-label">Client Secret:</label>
              <span>{{detailData.clientSecret}}</span>
            </div>
          </div>

          <div class="ui-g-12 ui-g-nopad control-group">
            <div class="ui-g-6">
              <label class="required control-label">应用名称:</label>
              <input pInputText [(ngModel)]="detailData.label"
                     name="label" #label="ngModel" required [rangeLength]="[1, 30]">
              <span class="validation" *ngIf="label.errors?.required">该项必填</span>
              <span class="validation" *ngIf="label.errors?.rangeLength">不多于30个字符</span>
            </div>
            <div class="ui-g-6">
              <label class=" required control-label">应用编码:</label>
              <input pInputText [(ngModel)]="detailData.name"
                     name="name" #name="ngModel" required [rangeLength]="[1, 30]">
              <span class="validation" *ngIf="name.errors?.required">该项必填</span>
              <span class="validation" *ngIf="name.errors?.rangeLength">不多于30个字符</span>
            </div>
          </div>
          <div class="ui-g-12 ui-g-nopad control-group">
            <div class="ui-g-6">
              <label class="control-label">首页地址:</label>
              <input pInputText [(ngModel)]="detailData.clientUri"
                     name="clientUri" #clientUri="ngModel" [rangeLength]="[1, 200]">
              <span class="validation" *ngIf="clientUri.errors?.rangeLength">不多于200字符</span>
            </div>
            <div class="ui-g-6">
              <label class="control-label">回调地址:</label>
              <input pInputText [(ngModel)]="detailData.redirectUri"
                     name="redirectUri" #redirectUri="ngModel" [rangeLength]="[1, 200]">
              <span class="validation" *ngIf="redirectUri.errors?.rangeLength">不多于200字符</span>
            </div>
          </div>
          <div class="ui-g-12 ui-g-nopad control-group">
            <div class="ui-g-6">
              <label class="control-label">登出地址:</label>
              <input pInputText [(ngModel)]="detailData.logoutUri"
                     name="logoutUri" #logoutUri="ngModel" [rangeLength]="[1, 200]">
              <span class="validation" *ngIf="logoutUri.errors?.rangeLength">不多于200字符</span>
            </div>
            <div class="ui-g-6">
              <label class="control-label">图标地址:</label>
              <input pInputText [(ngModel)]="detailData.logoUri"
                     name="logoUri" #logoUri="ngModel" [rangeLength]="[0, 200]">
              <span class="validation" *ngIf="logoUri.errors?.rangeLength">不多于200字符</span>
            </div>
          </div>
          <div class="ui-g-12 ui-g-nopad control-group">
            <div class="ui-g-6">
              <label class="control-label">状态:</label>
              <p-radioButton name="enbled" value="1" label="正常"
                             [(ngModel)]="detailData.enabled"></p-radioButton>
              &nbsp;
              <p-radioButton name="enbled" value="0" label="冻结"
                             [(ngModel)]="detailData.enabled"></p-radioButton>
            </div>
          </div>
          <div class="ui-g-12 ui-g-nopad control-group">
            <div class="ui-g-12">
              <label class="control-label">应用描述:</label>
              <input pInputText size="80" [(ngModel)]="detailData.clientDesc"
                     name="clientDesc" #clientDesc="ngModel" [rangeLength]="[0, 300]">
              <span class="validation" *ngIf="clientDesc.errors?.rangeLength">不多于300字符</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <p-footer>
    <eve-dialog-bar (execute)="doExecute($event)" [display]="!reForm.form.valid"></eve-dialog-bar>
  </p-footer>
</p-dialog>
