<div class="ui-g">
  <div class="ui-g-4 left-panel">
    <input pInputText type="text" placeholder="组织机构名称" size="14" [(ngModel)]="queryWord">
    <button pButton type="button" icon="fa-search" (click)="queryNode()"></button>
    <p-tree [value]="tree" selectionMode="single" [(selection)]="selectedNode"
            (onNodeSelect)="nodeSelect($event)">
    </p-tree>
  </div>
  <div class="ui-g-8">
    &nbsp;&nbsp; 当前组织机构：{{institutionName}}<br>
    &nbsp;&nbsp; <input type="text" pInputText placeholder="姓名" [(ngModel)]="key">
    <button pButton type="button" icon="fa-search" (click)="queryForGrid()"></button>
    <p-pickList [source]="sourceUsers" [target]="targetUsers"
                sourceHeader="可选用户列表" targetHeader="已选用户列表" [responsive]="true"
                [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">
      <ng-template let-user pTemplate="item">
        <div class="ui-helper-clearfix">
          <div class="left-picklist">{{user.NAME}}</div>
        </div>
      </ng-template>
    </p-pickList>
  </div>
</div>
