<eve-top-bar title="联网信息中心" (execute)="doExecute($event)" [display]="!reForm.form.valid"></eve-top-bar>
<!--新增、编辑-->
<div class="content">
  <perfect-scrollbar>
    <div class="ui-g">
      <div class="ui-g-12">
        <div class="detail-layout">
          <form #reForm="ngForm">
            <div class="ui-g-12 ui-g-nopad control-group">
              <div class="ui-g-6">
                <label class="required control-label">中心名称</label>
                <input pInputText [(ngModel)]="detailData.centerName"
                       name="centerName" [validation-rule]="{'required':{'alertText':'中心名称必填'}}">
              </div>
              <div class="ui-g-6">
                <label class="control-label">联系方式</label>
                <input pInputText [(ngModel)]="detailData.contactTel" name="contactTel"
                       [validation-rule]="{'phone':{'alertText':'号码格式错误'}}">
              </div>
            </div>
            <div class="ui-g-12 ui-g-nopad control-group">
              <div class="ui-g-6">
                <label class="control-label">地址所在区划</label>
                <input pInputText [(ngModel)]="detailData.addrScn" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="ui-g-6">
                <label class="control-label">所在地址</label>
                <input pInputText [(ngModel)]="detailData.address" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="ui-g-12 ui-g-nopad control-group">
              <div class="ui-g-6">
                <label class="control-label">中心在用状态</label>
                <input pInputText [(ngModel)]="detailData.centerStatus" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="ui-g-6">
                <label class="control-label">上级机构名称</label>
                <input pInputText [(ngModel)]="detailData.upCenterName" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="ui-g-12 ui-g-nopad control-group">
              <div class="ui-g-6">
                <label class="control-label">负责人姓名</label>
                <input pInputText [(ngModel)]="detailData.name" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="ui-g-6">
                <label class="control-label">24小时值守</label>
                <p-radioButton name="is24HOnduty" value="1" label="是"
                               [(ngModel)]="detailData.is24HOnduty"></p-radioButton>
                <p-radioButton name="is24HOnduty" value="0" label="否"
                               [(ngModel)]="detailData.is24HOnduty"></p-radioButton>
              </div>
            </div>
            <div class="ui-g-12 ui-g-nopad control-group">
              <div class="ui-g-6">
                <label class="control-label">专职工作人员数量</label>
                <input pInputText [(ngModel)]="detailData.staffNum" name="staffNum"
                       [validation-rule]="{'integer':{'alertText':'格式错误'}}">
                <span class="control-span">（人）</span>
              </div>
              <div class="ui-g-6">
                <label class="control-label">办公用房面积</label>
                <input pInputText [(ngModel)]="detailData.area" name="area"
                       [validation-rule]="{'number':{'alertText':'格式错误'}}">
                <span class="control-span">（平方米）</span>
              </div>
            </div>
            <div class="ui-g-12 ui-g-nopad control-group">
              <div class="ui-g-6">
                <label class="control-label">视频监控摄像机数量</label>
                <input pInputText [(ngModel)]="detailData.cameraQty" name="cameraQty"
                       [validation-rule]="{'integer':{'alertText':'格式错误'}}">
                <span class="control-span">（个）</span>
              </div>
              <div class="ui-g-6">
                <label class="control-label">年度运行经费</label>
                <input pInputText [(ngModel)]="detailData.annualAmount" name="annualAmount"
                       [validation-rule]="{'number':{'alertText':'格式错误'}}">
                <span class="control-span">（元）</span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
</div>