<p-dialog header="所在网格" [width]="500" [(visible)]="display">
  <div style="width: 100%" [ngBusy]="httpService.loading">
    <p-tree selectionMode="checkbox" [value]="tree" [(selection)]="selectedNodes">
    </p-tree>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="goBack()" label="取消"></button>
      <button type="button" pButton icon="fa-check" (click)="save()" label="确定"></button>
    </div>
  </p-footer>
</p-dialog>
