<div class="ui-g-4">
  <p-panel header="系统资源树">
    <p-dropdown [style]="{'width':'100%'}" [options]="applications"
                [(ngModel)]="selectedApplication" (onChange)="selectChange()" >
    </p-dropdown>
    <br><br>
    <p-tree [value]="tree" selectionMode="single" [(selection)]="selectedNode"
            (onNodeSelect)="nodeSelect($event)">
      <ng-template let-node pTemplate="default">
          <span (mouseenter)="node['enter']=true" (mouseleave)="node['enter']=false">
            <span>{{node.label}}</span>
              <span *ngIf="node['enter']">
                <a class="fa fa-plus a-button" (click)="addTreeNode('add',node.data.id,selectedApplication)"></a>
                <a class="fa fa-trash a-button" (click)="deleteTreeNode(node)" ></a>
                <a class="fa fa-edit a-button" (click)="editTreeNode('edit',node.data.id)"></a>
              </span>
          </span>
      </ng-template>
    </p-tree>
  </p-panel>
</div>

<div class="ui-g-8">
  <div class="detail-layout">
    <div class="ui-g-12 ui-g-nopad control-group">
      <h3 class="legend">资源信息</h3>
    </div>
    <div class="ui-g-12 ui-g-nopad control-group">
      <div class="ui-g-6">
        <label class="control-label">操作名称</label>
        <span>{{detailData.label}}</span>
      </div>
      <div class="ui-g-6">
        <label class="control-label">操作编码</label>
        <span>{{detailData.name}}</span>
      </div>
    </div>
    <div class="ui-g-12 ui-g-nopad control-group">
      <div class="ui-g-6">
        <label class="control-label">资源URL</label>
        <span>{{detailData.resUrl}}</span>
      </div>
      <div class="ui-g-6">
        <label class="control-label">资源图片路径</label>
        <span>{{detailData.iconPath}}</span>
      </div>
    </div>
    <div class="ui-g-12 ui-g-nopad control-group">
      <div class="ui-g-6">
        <label class="control-label">资源类型</label>
        <span>{{detailData.optType}}</span>
      </div>
      <div class="ui-g-6">
        <label class="control-label">状态</label>
        <span>{{detailData.enabled | enabledPipe}}</span>
      </div>
    </div>
  </div>
</div>

