<header class="eve-hd-bar">
  <div class="eve-hd-left">
    <div class="logo">
      <img class="logo-image"> {{title}}
    </div>
  </div>
  <div class="eve-hd-right">
    <ul class="nav-list">
      <li class="e-right user-info" style="float: right">
        <a (mouseenter)="showItems()">你好，{{user?.name}}</a>
        <app-slide-toggle [toggleState]="toggleState" (mouseleave)="onMouseleave()" width="100px">
          <ul>
            <li><a class="fa fa-sign-out" (click)="logout()"> 退出</a></li>
            <li><a class="fa fa-cog"> 系统配置</a></li>
          </ul>
        </app-slide-toggle>
      </li>
    </ul>
  </div>
</header>
