<div class="toolkit">
  <ul>
    <li class="toolkit-item e-left">
      <button pButton type="button" icon="fa-plus" label="新增" (click)="showDialog('add',null)"></button>
      <button pButton type="button" icon="fa-trash" label="删除" (click)="deleteSelected()"></button>
    </li>
    <li class="toolkit-item e-right">
      <input type="text" pInputText placeholder="应用名称或应用编码" [(ngModel)]="filter">
      <button pButton type="button" icon="fa-search" label="查询" (click)="query()"></button>
    </li>
  </ul>
</div>

<div class="ui-g content">
  <div class="ui-g-12" tableAutoHeight="content">
    <p-dataTable [value]="viewData" scrollable="true"
                 [(selection)]="selectedData"
                 selectionMode="multiple"
                 emptyMessage="{{emptyMessage}}">
      <p-column [style]="{'width':'60px'}">
        <ng-template let-ri="rowIndex" pTemplate="body">
          <span>{{index[ri]}}</span>
        </ng-template>
      </p-column>
      <p-column selectionMode="multiple" [style]="{'width':'38px'}"></p-column>
      <p-column header="应用名称" field="label" [style]="{'width':'120px'}">
        <ng-template let-application="rowData" pTemplate="body">
              <span onmouseover="this.style.color='#00F';this.style.textDecoration='underline'"
                    onmouseout="this.style.color='#000000';this.style.textDecoration='none'"
                    (click)="showDialog('edit', application.id)">{{application.label}}</span>
        </ng-template>
      </p-column>
      <p-column header="应用编码" field="name"></p-column>
      <p-column header="应用描述" field="clientDesc"></p-column>
      <p-column header="状态">
        <ng-template let-application="rowData" pTemplate="body">
          {{application.enabled | enabledPipe}}
        </ng-template>
      </p-column>
      <p-column header="操作">
        <ng-template let-application="rowData" pTemplate="body">
          <button type="button" pButton icon="fa-edit" label="编辑"
                  (click)="showDialog('edit', application.id)"></button>
        </ng-template>
      </p-column>
    </p-dataTable>
    <eve-paginator [rows]="page.size" [totalRecords]="page.totalElements"
                   [rowsPerPageOptions]="[10,20,30]" [pageLinkSize]="5" [first]="firstIndex"
                   (onSizeChange)="onSizeChange($event)" (onPageChange)="onPageChange($event)"></eve-paginator>
  </div>
</div>
<app-application-dialog (onSaved)="onSaved($event)">
</app-application-dialog>
