<div class="toolkit">
  <ul>
    <li class="toolkit-item">
      <a class="fa fa-chevron-left" (click)="goBack()" back-btn> 综治-群防群治组织</a>
    </li>
    <li class="toolkit-item e-right">
      <a class="a-button" (click)="goBack()">取消</a>
      <button (click)="save()" pButton type="button" label="保存" [disabled]="!reForm.form.valid"></button>
    </li>
  </ul>
</div>

<!--新增、编辑-->
<div class="content">
  <perfect-scrollbar>
    <div class="ui-g">
      <div class="ui-g-12">
        <div class="detail-layout">
          <form #reForm="ngForm">
            <div class="ui-g-12 ui-g-nopad control-group">
              <h3 class="legend">基本信息</h3>
            </div>
            <div class="ui-g-12 ui-g-nopad control-group">
              <div class="ui-g-6">
              <label class="control-label required">组织名称</label><input  pInputText [(ngModel)]="detailData.orgName"
              placeholder="必填" name="orgName"  [validation-rule]="{'required':{'alertText':'被实施地区必填'}}">
              </div>
            <div class="ui-g-6">
              <label  class="control-label">组织类型</label><input pInputText [(ngModel)]="detailData.compMassOrgType" name="compMassOrgType">
            </div>
            </div>
            <div class="ui-g-12 ui-g-nopad control-group">
            <div class="ui-g-6">
              <label class="control-label">组织层级</label><input pInputText [(ngModel)]="detailData.compMassOrgLvl" name="compMassOrgLvl">
            </div>
            <div class="ui-g-6">
              <label class="control-label">业务指导部门</label><input pInputText [(ngModel)]="detailData.busGuideDep" name="busGuideDep">
            </div>
            </div>
            <div class="ui-g-12 ui-g-nopad control-group">
            <div class="ui-g-6 ">
              <label class="control-label">机构状态</label><input pInputText [(ngModel)]="detailData.compMassOrgStatus" name="compMassOrgStatus">
            </div>
            <div class="ui-g-6 ">
              <label class="control-label">人员数量</label><input pInputText [(ngModel)]="detailData.staffNum" name="staffNum">
            </div>
            </div>
            <div class="ui-g-12 ui-g-nopad control-group">
            <div class="ui-g-6">
              <label class="control-label">负责人</label><input pInputText [(ngModel)]="detailData.managerName" name="managerName">
            </div>
            <div class="ui-g-6">
              <label class="control-label">主要职能</label><input pInputText [(ngModel)]="detailData.majorFunc" name="majorFunc">
            </div>
            </div>
            <div class="ui-g-12 ui-g-nopad control-group">
            <div class="ui-g-6">
              <label class="control-label">上级机构名称</label><input pInputText [(ngModel)]="detailData.upOrgName" name="upOrgName">
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
</div>

