<eve-top-bar title="综治机构" (execute)="doExecute($event)" [display]="!reForm.form.valid"></eve-top-bar>
<!--新增、编辑-->
<div class="content">
  <perfect-scrollbar>
    <div class="ui-g">
      <div class="ui-g-12">
        <div class="detail-layout">
          <form #reForm="ngForm">
            <div class="ui-g-12 ui-g-nopad control-group">
              <h3 class="legend">基本信息</h3>
            </div>
            <div class="ui-g-12 ui-g-nopad control-group">
              <div class="ui-g-12">
                <label class="required control-label">机构名称</label>
                <input pInputText [(ngModel)]="detailData.orgName" name="orgName"
                       [validation-rule]="{'required':{'alertText':'机构名称必填'}}">
              </div>
            </div>
            <div class="ui-g-12 ui-g-nopad control-group">
              <div class="ui-g-6">
                <label class="control-label">所属网格</label>
                <input pInputText [(ngModel)]="detailData.orgName" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="ui-g-6 ">
                <label class="control-label">机构类型</label>
                <input pInputText [(ngModel)]="detailData.orgName" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="ui-g-12 ui-g-nopad control-group">
              <div class="ui-g-6">
                <label class="control-label">负责人</label>
                <input pInputText [(ngModel)]="detailData.orgName" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="ui-g-6">
                <label class="control-label">负责人电话</label>
                <input pInputText [(ngModel)]="detailData.orgName" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="ui-g-12 ui-g-nopad control-group">
              <h3 class="legend">成员信息</h3>
            </div>
            <div class="ui-g-12 ui-g-nopad control-group">
              <div class="ui-g-6">
                <label class="control-label">机构层级</label>
                <input pInputText [(ngModel)]="detailData.orgName" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="ui-g-6">
                <label class="control-label">地理标注</label>
                <input pInputText [(ngModel)]="detailData.orgName" [ngModelOptions]="{standalone: true}"><a
                      class="fa fa-map"></a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
</div>
