<div class="toolkit" style="top: 3px">
  <ul>
    <li class="toolkit-item e-right">
      <input pInputText type="text" size="19" [(ngModel)]="tableQueryWord" placeholder="网格名称"/>
      <button pButton type="button" icon="fa-search" (click)="queryTreeTable()"></button>
    </li>
  </ul>
</div>
<div class="ui-g content" style="top: 77px" [ngBusy]="httpService.loading">
  <div class="ui-g-12">
    <p-treeTable selectionMode="single" [(selection)]="tableSelectedNode" [value]="tableTree">
      <p-column field="label" header="网格名称"></p-column>
      <p-column field="code" header="网格编码"></p-column>
      <p-column field="userNames" [style]="{'width':'45%'}" header="所属用户"></p-column>
      <p-column header="操作">
        <ng-template let-node="rowData" pTemplate="body">
          <button type="button" pButton label="所属用户" icon="fa-edit" (click)="showDialog(node)"></button>
        </ng-template>
      </p-column>
    </p-treeTable>
  </div>
</div>

<app-user-associate-dialog (onSaved)="onSaved($event)"></app-user-associate-dialog>
