<eve-header [title]="title" [user]="user"></eve-header>

<section class="main">
  <router-outlet></router-outlet>
</section>

<!--消息提示-->
<p-growl [value]="messages" styleClass="eve-growl" life="5000"></p-growl>

<!--操作确认-->
<p-confirmDialog width="425" #cd>
  <p-footer>
    <button type="button" pButton icon="fa-close" label="取消" (click)="cd.reject()"></button>
    <button type="button" pButton icon="fa-check" label="确定" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>

