<eve-top-bar title="分配权限" (execute)="doExecute($event)"></eve-top-bar>
<div class="ui-g">
  <div class="ui-g-1"></div>
  <div class="ui-g-10">
    <p-pickList [source]="sourcePrivileges" [target]="targetPrivileges"
                sourceHeader="可选权限列表" targetHeader="已选权限列表" [responsive]="true"
                [sourceStyle]="{'height':'400px'}" [targetStyle]="{'height':'400px'}">
      <ng-template let-privilege pTemplate="item">
        <div class="ui-helper-clearfix">
          <div style="font-size:14px;float:left;margin:15px 6px 0 80px">
            {{privilege.label}}
          </div>
          <div style="font-size:14px;float:right;margin:15px 80px 0 6px">
            {{privilege.name}}
          </div>
        </div>
      </ng-template>
    </p-pickList>
  </div>
</div>
