<div class="toolkit">
  <ul>
    <li class="toolkit-item e-left">
      <button pButton type="button" label="新增" icon="fa-plus" (click)="gotoDetail('add',null)"></button>
      <button pButton type="button" label="删除" icon="fa-trash" (click)="deleteSelected()"></button>
    </li>
    <li class="toolkit-item e-right">
      <p-dropdown [options]="selects" [(ngModel)]="selectKey"></p-dropdown>
      <input type="text" pInputText placeholder="关键字" [(ngModel)]="key">
      <button pButton icon="fa-search" (click)="query()" label="查询"></button>
    </li>
  </ul>
</div>
<div class="ui-g content">
  <perfect-scrollbar>
    <div class="ui-g-12">
      <p-dataTable [value]="viewData" [(selection)]="selectedData">
        <p-column header="序号"  [style]="{'width':'60px'}">
          <ng-template  let-ri="rowIndex" pTemplate="body">
            <span>{{index[ri]}}</span>
          </ng-template>
        </p-column>
        <p-column selectionMode="multiple" [style]="{'width':'38px'} "></p-column>
        <p-column header="角色名称" field="label" [style]="{'width':'20%'}"></p-column>
        <p-column header="角色编码" field="name" [style]="{'width':'20%'}"></p-column>
        <p-column header="状态" [style]="{'width':'10%'}">
          <ng-template let-role="rowData" pTemplate="body">{{role.enabled | enabledPipe}}</ng-template>
        </p-column>
        <p-column header="操作" [style]="{'width':'35%'}">
          <ng-template let-role="rowData" pTemplate="body">
            <button type="button" pButton label="编辑" icon="fa-edit"
                    (click)="gotoDetail('edit', role.id);"></button>
            &nbsp;
            <button type="button" pButton label="分配权限"
                    (click)="gotoPrivilegeAllocation(role.id)"></button>
            &nbsp;
            <button type="button" pButton label="分配用户"
                    (click)="gotoUserAllocation(role.id)"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
      <eve-paginator [rows]="page.size" [totalRecords]="page.totalElements"
                     [rowsPerPageOptions]="[10,20,30]" [pageLinkSize]="5" [first]="firstIndex"
                     (onSizeChange)="onSizeChange($event)" (onPageChange)="onPageChange($event)"></eve-paginator>
    </div>
  </perfect-scrollbar>
</div>
