<div class="ui-g-3">
  <div class="left-panel">
    <p-panel header="组织机构树">
      <p-tree [value]="tree"
              selectionMode="single"
              [(selection)]="selectedNode"
              (onNodeSelect)="nodeSelect($event)">
        <ng-template let-node pTemplate="default">
          <span (mouseenter)="node['enter']=true" (mouseleave)="node['enter']=false">
            <span>{{node.label}}</span>
          </span>
        </ng-template>
      </p-tree>
    </p-panel>
  </div>
</div>
<div class="ui-g-9">
  <div class="toolkit">
    <ul>
      <li class="toolkit-item e-left">
        <button pButton type="button" icon="fa-plus" label="新增" (click)="gotoUserDetail('add',null)"></button>
        <button pButton type="button" icon="fa-trash" label="删除" (click)="deleteSelected()"></button>
        <button pButton type="button" icon="fa-refresh" label="重置密码" (click)="resetPassword()"></button>
      </li>
      <li class="toolkit-item e-right">
        <input type="text" pInputText placeholder="关键字" [(ngModel)]="filter">
        <button pButton type="button" icon="fa-search" (click)="query()" label="查询"></button>
      </li>
    </ul>
  </div>
  <div class="ui-g-9 content-right">
    <perfect-scrollbar>
      <div class="ui-g-12">
        <p-dataTable [value]="viewData" scrollable="true"
                     [(selection)]="selectedData"
                     selectionMode="multiple">
          <p-column [style]="{'width':'60px'}">
            <ng-template let-ri="rowIndex" pTemplate="body">
              <span>{{index[ri]}}</span>
            </ng-template>
          </p-column>
          <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
          <p-column field="loginName" header="账号"></p-column>
          <p-column header="用户姓名">
            <ng-template let-user="rowData" pTemplate="body">
              <span onmouseover="this.style.color='#00F';this.style.textDecoration='underline'"
                    onmouseout="this.style.color='#000000';this.style.textDecoration='none'"
                    (click)="gotoUserDetail('edit',user.id)">{{user.name}}</span>
            </ng-template>
          </p-column>
          <p-column field="mobile" header="手机号码" [style]="{'width':'14%'}"></p-column>
          <p-column header="机构"></p-column>
          <p-column field="enabled" header="状态">
            <ng-template let-user="rowData" pTemplate="body">
              {{user.enabled | enabledPipe}}
            </ng-template>
          </p-column>
          <p-column [style]="{'width':'18%'}" header="操作">
            <ng-template let-user="rowData" pTemplate="body">
              <button type="button" pButton icon="fa-edit" label="编辑" (click)="gotoUserDetail('edit',user.id)"></button>
            </ng-template>
          </p-column>
        </p-dataTable>
        <eve-paginator [rows]="page.size" [totalRecords]="page.totalElements"
                       [rowsPerPageOptions]="[10,20,30]" [pageLinkSize]="5" [first]="firstIndex"
                       (onSizeChange)="onSizeChange($event)" (onPageChange)="onPageChange($event)"></eve-paginator>
      </div>
    </perfect-scrollbar>
  </div>
</div>
