<div class="toolkit">
  <ul>
    <li class="toolkit-item e-left">
      <button pButton type="button" label="新增" icon="fa-plus" (click)="showDialog('add',null)"></button>
      <button pButton type="button" label="删除" icon="fa-trash" (click)="deleteSelected()"></button>
    </li>
    <li class="toolkit-item e-right">
      <input type="text" pInputText placeholder="角色名称或角色编码" [(ngModel)]="filter">
      <button pButton icon="fa-search" (click)="query()" label="查询"></button>
    </li>
  </ul>
</div>
<div class="ui-g content">
    <div class="ui-g-12" appAutoHeight="content" >
      <p-dataTable [value]="viewData" scrollable="true"
                   [(selection)]="selectedData"
                   selectionMode="multiple">
        <p-column header="序号" [style]="{'width':'60px'}">
          <ng-template let-ri="rowIndex" pTemplate="body">
            <span>{{index[ri]}}</span>
          </ng-template>
        </p-column>
        <p-column selectionMode="multiple" [style]="{'width':'38px'} "></p-column>
        <p-column header="角色名称" [style]="{'width':'20%'}">
          <ng-template let-role="rowData" pTemplate="body">
            <span onmouseover="this.style.color='#00F';this.style.textDecoration='underline'"
                  onmouseout="this.style.color='#000000';this.style.textDecoration='none'"
              (click)="showDialog('edit',role.id)">{{role.label}}</span>
          </ng-template>
        </p-column>
        <p-column header="角色编码" field="name" [style]="{'width':'20%'}"></p-column>
        <p-column header="状态" [style]="{'width':'10%'}">
          <ng-template let-role="rowData" pTemplate="body">{{role.enabled | enabledPipe}}</ng-template>
        </p-column>
        <p-column header="备注" field="remarks" [style]="{'width':'30%'}"></p-column>

        <p-column header="操作" [style]="{'width':'20%'}">
          <ng-template let-role="rowData" pTemplate="body">
            <button type="button" pButton label="编辑" icon="fa-edit"
                    (click)="showDialog('edit',role.id)"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
      <eve-paginator [rows]="page.size" [totalRecords]="page.totalElements"
                     [rowsPerPageOptions]="[10,20,30]" [pageLinkSize]="5" [first]="firstIndex"
                     (onSizeChange)="onSizeChange($event)" (onPageChange)="onPageChange($event)"></eve-paginator>
    </div>
</div>

<app-role-dialog (onSaved)="onSaved($event)"></app-role-dialog>
