<eve-top-bar title="用户分配" (execute)="doExecute($event)"></eve-top-bar>
<div class="ui-g-4">
  <p-tabView>
    <p-tabPanel header="部门">
      <p-tree [value]="tree"></p-tree>
    </p-tabPanel>
    <p-tabPanel header="角色">
      <p-dropdown [style]="{'width':'100%'}" [options]="roles" [(ngModel)]="selectedRole" placeholder="选择角色"></p-dropdown>
      </p-tabPanel>
  </p-tabView>
</div>

<div class="ui-g-8">
  <p-pickList [source]="sourceUsers" [target]="targetUsers"
              sourceHeader="可选用户列表"  targetHeader="已选用户列表" [responsive]="true"
              [sourceStyle]="{'height':'400px'}" [targetStyle]="{'height':'400px'}">
    <ng-template let-user pTemplate="item">
    <div class="ui-helper-clearfix">
      <div style="font-size:14px;float:left;margin:15px 15px 0 15px">{{user.LOGIN_NAME}}</div>
      <div style="font-size:14px;float:right;margin:15px 15px 0 15px">{{user.NAME}}</div>
    </div>
  </ng-template>
  </p-pickList>
</div>
