<div class="toolkit">
  <ul>
    <li class="toolkit-item">
      <p-dropdown [options]="orgTypes" [(ngModel)]="filter.compMassOrgType"></p-dropdown>
    </li>
    <li class="toolkit-item">
      <input type="text" [(ngModel)]="filter.orgName" pInputText placeholder="组织名称" (keyup.enter)="search()">
      <a class="search-btn fa fa-search" (click)="search()"></a>
      <a class="fa fa-refresh" (click)="reset()"></a>
      <a id="advancedQuery" class="a-button" (click)="togglePanel()">高级查询</a>
      <div (click)="selfClickEvent()" class="drop-panel" *ngIf="isDropPanelShow">
        <ul>
          <li><label>机构状态：</label>
            <p-radioButton name="compMassOrgStatus" value="1" label="有效" [(ngModel)]="filter.compMassOrgStatus"></p-radioButton>
            <p-radioButton name="compMassOrgStatus" value="0" label="失效" [(ngModel)]="filter.compMassOrgStatus"></p-radioButton>
          </li>
        </ul>
        <div class="button-group">
          <button (click)="reset()" pButton type="button" class="ui-button-secondary" label="重置"></button>
          <button (click)="search()" pButton type="button" label="查询"></button>
        </div>
      </div>
    </li>

    <li class="toolkit-item e-right">
      <p-splitButton label="新增" icon="fa-plus" (onClick)="gotoDetail('add',null)" [model]="btnItems"></p-splitButton>
    </li>
  </ul>
</div>


<div class="ui-g content">
  <perfect-scrollbar>
    <div class="ui-g-12" [ngBusy]="httpService.loading">
      <p-dataTable [value]="viewData" [contextMenu]="cm"
                   [(selection)]="selectedData" dataKey="id"
                   (onRowDblclick)="getDetailEvent($event)">
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column [style]="{'width':'76px','text-align':'center'}" header="序号" field="id" styleClass="base-col index-col">
          <ng-template let-col let-ri="rowIndex" pTemplate="body" class="indexWith">
            <span>{{index[ri]}}</span>
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'20%'}" field="orgName" header="组织名称"></p-column>
        <p-column [style]="{'width':'20%'}" field="compMassOrgType" header="组织类型"></p-column>
        <p-column field="majorFunc" header="主要职能"></p-column>
        <p-column field="managerName" header="负责人"></p-column>
        <p-column field="busGuideDep" header="业务指导部门"></p-column>
        <p-column field="compMassOrgStatus" header="机构状态"></p-column>
      </p-dataTable>
      <eve-paginator [rows]="page.size" [totalRecords]="page.totalElements"
                     [rowsPerPageOptions]="[10,20,30]" [pageLinkSize]="5"
                     (onPageChange)="onPageChange($event)" [first]="firstIndex"></eve-paginator>
    </div>
  </perfect-scrollbar>
</div>

<!--隐藏右击-->
<!--<p-contextMenu #cm [model]="items"></p-contextMenu>-->
