<div class="ui-g-3 max-height-panel" style="top: 30px;">
  <p-panel header="组织机构树">
    <input pInputText type="text" placeholder="组织机构名称" size="14" [(ngModel)]="queryWord"/>
    <button pButton type="button" icon="fa-search" (click)="queryInstitution()"></button>
    <div treeAutoHeight="max-height-panel">
      <p-tree [value]="institutionTree" selectionMode="single"
              [(selection)]="instSelectedNode"
              (onNodeSelect)="nodeSelect($event)">
      </p-tree>
    </div>
  </p-panel>
</div>
<div class="ui-g-9 content" style="top: 30px">
  <div class="toolkit">
    <ul>
      <li class="toolkit-item e-right">
        <input type="text" pInputText placeholder="账号或姓名" [(ngModel)]="filter">
        <button pButton type="button" icon="fa-search" (click)="query()" label="查询"></button>
      </li>
    </ul>
  </div>
</div>
<div class="ui-g-9 content" style="top: 75px">
  <div tableAutoHeight="content">
    <p-dataTable [value]="viewData" scrollable="true"
                 selectionMode="multiple"
                 emptyMessage="{{emptyMessage}}">
      <p-column header="序号" [style]="{'width':'60px'}">
        <ng-template let-ri="rowIndex" pTemplate="body"><span>{{index[ri]}}</span></ng-template>
      </p-column>
      <p-column selectionMode="multiple" [style]="{'width':'38px'} "></p-column>
      <p-column field="loginName" header="账号"></p-column>
      <p-column field="name" header="姓名"></p-column>
      <p-column field="gridNames" header="所在网格"></p-column>
      <p-column header="操作">
        <ng-template let-grid="rowData" pTemplate="body">
          <button type="button" pButton label="所在网格" icon="fa-edit" (click)="showDialog('edit', grid.id)"></button>
        </ng-template>
      </p-column>
    </p-dataTable>
    <eve-paginator [rows]="page.size" [totalRecords]="page.totalElements"
                   [rowsPerPageOptions]="[10,20,30]" [pageLinkSize]="5" [first]="firstIndex"
                   (onSizeChange)="onSizeChange($event)" (onPageChange)="onPageChange($event)"></eve-paginator>
  </div>
</div>

<app-grid-associate-dialog (onSaved)="onSaved($event)">
</app-grid-associate-dialog>
