<p-dialog header="所属用户" [(visible)]="display" modal="modal" width="800" [responsive]="true">
  <app-grid-user-selector [tree]="tree" [(sourceUsers)]="sourceUsers"
                          [(targetUsers)]="targetUsers" [gridCode]="gridCode"></app-grid-user-selector>
  <p-footer>
    <div class="ui-dialog-buttonpane  ui-helper-clearfix">
      <button type="button" pButton icon="fa-check" (click)="save()" label="确定"></button>
      <button type="button" pButton icon="fa-close" (click)="goBack()" label="取消"></button>
    </div>
  </p-footer>
</p-dialog>
