<div class="toolkit">
  <ul>
    <li class="toolkit-item">
      <label>所属网格</label>
      <eve-combotree [data]="gridData"  (selectedEvent)="getSelectedData($event)"></eve-combotree>
    </li>
    <!--<li class="toolkit-item">-->
      <!--<label>层次</label><eve-combotree [data]="levelDatas"></eve-combotree>-->
    <!--</li>-->
    <li class="toolkit-item">
      <input type="text" [(ngModel)]="filter.centerName" pInputText placeholder="中心名称" (keyup.enter)="search()">
      <a class="search-btn fa fa-search" (click)="search()"></a>
      <a class="fa fa-refresh" (click)="reset()"></a>
      <a id="advancedQuery" class="a-button" (click)="togglePanel()">高级查询</a>
      <div (click)="selfClickEvent()" class="drop-panel" *ngIf="isDropPanelShow">
        <ul>
          <li><label>24小时值守：</label>
            <p-radioButton name="is24HOnduty" value="1" label="是" [(ngModel)]="filter.is24HOnduty"></p-radioButton>
            <p-radioButton name="is24HOnduty" value="0" label="否" [(ngModel)]="filter.is24HOnduty"></p-radioButton>
          </li>
          <li><label>在用状态：</label>
            <p-radioButton name="centerStatus" value="1" label="是" [(ngModel)]="filter.centerStatus"></p-radioButton>
            <p-radioButton name="centerStatus" value="0" label="否" [(ngModel)]="filter.centerStatus"></p-radioButton>
          </li>
        </ul>
        <div class="button-group">
          <button (click)="reset()" pButton type="button" class="ui-button-secondary" label="重置"></button>
          <button (click)="search()" pButton type="button" label="查询"></button>
        </div>
      </div>
    </li>
    <li class="toolkit-item e-right">
      <p-splitButton label="新增" icon="fa-plus" (onClick)="gotoDetail('add',null)" [model]="btnItems"></p-splitButton>
    </li>
  </ul>
</div>


<div class="ui-g content">
  <perfect-scrollbar>
    <div class="ui-g-12" [ngBusy]="httpService.loading">
      <p-dataTable [value]="viewData" [contextMenu]="cm"
                   [(selection)]="selectedData" dataKey="id"
                   (onRowDblclick)="getDetailEvent($event)">
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column header="序号" [style]="{'width':'70px'}" styleClass="base-col index-col">
          <ng-template let-col let-ri="rowIndex" pTemplate="body">
            <span>{{index[ri]}}</span>
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'40%'}" field="centerName" header="中心名称"></p-column>
        <p-column field="address" header="所在地址"></p-column>
        <!--<p-column field="centerStatus" header="在用状态"></p-column>-->
        <!--<p-column field="is24HOnduty" header="24小时值守">-->
          <!--<ng-template let-data="rowData" pTemplate="body">-->
            <!--<span>{{data.is24HOnduty | isOrNotPipe}}</span>-->
          <!--</ng-template>-->
        <!--</p-column>-->
        <p-column field="contactTel" header="联系方式"></p-column>
        <p-column field="centerLvl" header="层级"></p-column>
        <p-column field="name" header="负责人姓名"></p-column>
        <p-column field="gridId" header="所属网格"></p-column>
      </p-dataTable>
      <eve-paginator [rows]="page.size" [totalRecords]="page.totalElements"
                     [rowsPerPageOptions]="[10,20,30]" [pageLinkSize]="5" [first]="firstIndex"
                     (onSizeChange)="onSizeChange($event)" (onPageChange)="onPageChange($event)" ></eve-paginator>
    </div>
  </perfect-scrollbar>
</div>


<!--先隐藏-->
<!--<p-contextMenu #cm [model]="items"></p-contextMenu>-->

